*{
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
}
body {
  background-color: cornsilk;
}
h2 {
  color: white;
  border: 3px solid black;
  background-color: black;
  background-position: center;
  display: inline-block;  
}

table{
  position: relative;
  margin: auto; 
  background-color: white;
}



table, tr, th, td {
  border: 2px solid black;
  width: 100;
   text-align: center;
   line-height: 2;
   margin: auto; 
}

 tr:nth-child(even){background-color: lightgray};

td {
  color: black;
}

th {
  background-color: maroon;
  color: cornsilk;
}



